/* css reset specific rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

/* possible fonts
font-family: 'Taviraj', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Metrophobic', sans-serif; */
/*Color pallet #EFFDF0 #CDD84F #93032E #114B5F #31B186*/
html,
body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0em 4.25rem;
  background: #114B5F;
  color: #CDD84F;
}

nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 2.5rem 0rem 1.5rem;
  font-family: 'Taviraj', serif;
  font-size: 1.5rem;
}

nav h1 {
  color: #31B186;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
}

.icon {
  width: 2rem;
}

main {
  grid-gap: .5rem;
  display: grid;
  grid-auto-columns: 20rem;
  grid-auto-rows: 20rem;
  grid-template-areas:
    "a a c b"
    "d e c f";
  width: 100%;
}

li {
  margin: .5rem;
  font-size: 1.25rem;
  list-style: none;
}

.tile {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: #EFFDF0;
  color: #93032E;
  font-family: 'Metrophobic', sans-serif;
}

.user-graph {
  grid-area: a;
}

.user-graph {
  width: 100%;
  height: 100%;
}

.user-info {
  grid-area: b;
}

.user-info li {
  font-size: .95rem;
}

.user-info span {
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

.friend-list {
  grid-area: c;
}

.sleep-stats,
.user-sleep,
.user-sleep-info,
.user-water,
.user-water-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.user-water {
  grid-area: d;
}

select {
  border: solid 2px #93032E;
  background: none;
  color: #93032E;
  font-size: 1rem;
}

select:focus {
  outline: none;
  color: #EFFDF0;
  background: #93032E;
}

.user-sleep-info,
.user-water-info {
  height: 90%;
  width: 100%;
}

.user-sleep-info h4,
.user-water-info h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.75rem;
}

.user-sleep-info h4 {
  font-size: 1.2rem;
}

.user-sleep-info span,
.user-water-info span {
  font-family: 'Taviraj', serif;
  font-size: 2.25rem;
}

.user-sleep-info span {
  font-size: 1rem;
}

.user-sleep-info h5,
.user-water-info h5 {
  font-size: 1.3rem;
}

.user-sleep-info img,
.user-water-info img {
  display: block;
  width: 41%;
  height: 45%;
  padding: 0% 7%;
  border: solid;
  border-radius: 110px;
}

.user-sleep-info img {
  width: 41%;
  height: 45%;
  padding: 0px 7%;
}

.user-sleep {
  grid-area: e;
}

.user-steps {
  grid-area: f;
}
